#btn-mas{
	display: none;
}

.containerBF{
	position: fixed;
	bottom:20px;
	right: 20px;
}

.funciones a, .icon-plus{
	display: block;
	text-decoration: none;
	background: #FF5900;
	color: #ffff;
	width: 55px;
	line-height: 55px;
	text-align: center;
	border-radius: 50px;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
	transition:all 500ms ease;
}

.funciones a:hover{
	background: #fff;
	color: #FF5900;
}

.funciones a{
	margin-bottom:-15px;
	opacity: 0;
	visibility: hidden;
}

#btn-mas:checked~ .funciones a{
	margin-bottom: 10px;
	opacity: 1;
	visibility: visible;
}